@model List<CartVM>

<a asp-controller="cart" asp-action="index" class="cart-nav">
    <img src="~/assets/img/core-img/cart.png" alt="">
    Cart 
    
    <span id="cart-quantity">(@Model.Count)</span>
</a>