@model List<Product>

@foreach(Product item in Model)
{
    <li class="list-group-item d-flex align-items-center mb-3">
             <img src="~/assets/img/products/@item.MainImage" style="width: 100px" alt="Image" />
              <a href="~/shop/detail/@item.ID" class="ml-2">@item.Name</a>
    </li>
}

    