@model Brand
@{
    ViewData["Title"] = "Read";
}

<h1>Create</h1>
<div class="content">
    <div class="main product-index">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
              <div class="form-group">
                 <label class="form-label" asp-for="Name">Name</label>
                 <input class="form-control" disabled asp-for="Name" placeholder="Name...">
              </div>
            </form>
        </div>
    </div>
</div>
