@model Checkout
@{
    ViewData["Title"] = "Read";
}

<h1>Info</h1>
<div class="content">
    <div class="main product-index">
        <div class="row">
            <form>
              <div class="form-group">
                 <label class="form-label" asp-for="FirstName">First name</label>
                 <input class="form-control" disabled asp-for="FirstName" placeholder="Name...">
              </div>
            </form>
        </div>
    </div>
</div>
